.App {
  text-align: center;
  background-color: bisque;
  padding-bottom: 5%;
  padding-top: 5%;

  
 
}

.nn {
  border: #7fffd4;
width: 80px;
height: 35px;
border:coral;
border-radius: 50px;
font-family: 'Courier New', Courier, monospace;
color: rgb(28, 105, 79) ;

}
.rr {
  font-family: 'Courier New', Courier, monospace;
  color:rgb(28, 105, 79);
}

.dd{
  font-family: 'Courier New', Courier, monospace;
  color:rgb(28, 105, 79);
}
.sora{
  border-radius: 50px;
}
 
 